@{
    ViewBag.Title = "Om Andøya Space Center";
    ViewBag.Message = "Andøya Space Center (ASC) ligger på øya Andøya, 2 grader nord for polarsirkelen, i Nord-Norge. Andøya har sin egen flyplass som kan håndtere alle størrelser av fly. Flere daglige forbindelser til Tromsø og Bodø gjør det praktisk å komme til / fra Oslo. ASC støtter klingende rakett og ballongoperasjoner både på Andøya og på Svalbard, og er vertskap for et stort utvalg av bakkebaserte vitenskapelige instrumenter. ASC også eier og driver ALOMAR lidar observatorium ligger på toppen av nærliggende fjell - Ramnan (380 moh). Våre kunder omfatter ESA, NASA, JAXA samt nasjonale og internasjonale universiteter og institutter. Utvalget benytter elektronisk, eksplosive, og sikkerhetseksperter blant andre spesialister og en administrasjon. ASC er et aksjeselskap som eies 90% av Department of Trade and Industry, og 10% av Kongsberg Defence Systems.";
}

<h2>Kontakt detaljer til NAROM</h2>
<div class="col-md-7">
    <h4>@ViewBag.Message</h4>
</div>
<div class="col-md-5">
    <img src="~/Pictures/logoASC.jpg" class="img-polaroid">
</div>

<address>
    Andøya Space Center<br />
    Postboks 54, 8483 Andenes<br />
    <abbr title="Phone">Tlf:</abbr>
    761 44 650
</address>

<address>
    <strong>Support:</strong>   <a href="rolf@rocketrange.no">rolf@rocketrange.no</a><br />
    <strong>Marketing:</strong> <a href="stian@rocketrange.no">stian@rocketrange.no</a>
</address>