@{
    ViewBag.Title = "Om NAROM";
    ViewBag.Message = "NAROM er samlokalisert med Andøya Space Center, og ble offisielt åpnet i år 2000 av daværende utdaningsminister Trond Giske. NAROM er et nasjonalt senter/skolelaboratorium for alle utdanningsnivå innenfor romrelatert opplæring. Utvikling og gjennomføring av undervisningstilbudene skjer i nært samarbeid med utdanningsinstitusjonene, og NAROM er således ikke en gradsutstedende institusjon. NAROM nyttiggjør seg den etablerte infrastrukturen ved Andøya Space Center og forskningsstasjonen ALOMAR. NAROM gjennomfører årlig en rekke undervisnings-aktiviteter, seminarer og konferanser innen romteknologi, romfysikk, atmosfære og miljø. I tillegg har NAROM utviklet og driver flere romrelaterte og nettbaserte læringsressurser. De siste årene har det årlig vært mer enn 2500 elever, studenter, lærere og andre i NAROMs aktiviteter. NAROM er således en viktig nasjonal aktør i det arbeidet Kunnskapsdepartementet har gjør for å styrke rekrutteringen til realfagene.";
}

<h2>@ViewBag.Title.</h2>
<div class="col-md-7">
    <h4>@ViewBag.Message</h4>
</div>
<div class="col-md-5">
    <img src="~/Pictures/narom_logo.png" class="img-polaroid">
</div>

<address>
    NAROM, Andøya Space Center<br />
    Postboks 54, 8483 Andenes<br />
    <abbr title="Phone">Tlf:</abbr>
    761 44 650
</address>

<address>
    <strong>Support:</strong>   <a href="rolf@rocketrange.no">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="stian@rocketrange.no">Marketing@example.com</a>
</address>