@{
    ViewBag.Title = "Home Page";
}
<img src="~/Pictures/asc.png" class="img-polaroid">

<div class="jumbotron">
    <h1>Andøys Space Center</h1>
    <p class="lead">ASC ligger på øya Andøya, 2 grader nord for polarsirkelen, i Nord-Norge. Andøya har sin egen flyplass som kan håndtere alle størrelser av fly. Flere daglige forbindelser til Tromsø og Bodø gjør det praktisk å komme til / fra Oslo.</p>
    <p><a href="http://andoyaspace.no/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Romteknologi er gøy</h2>
        <p><font face="cursive" color="blue">04.06.2013</font></p>
        <p>
            Etter et interessant, spennende og krevende skoleår ved landslinja i romteknologilinja på Andøya, 
            ble den årlige studentraketten nylig skutt opp. Dette er kanskje høydepunktet for elevene som har jobbet med prosjektet i 
            lang tid før oppskytingen fant sted.
        </p>
        <p><a class="btn btn-default" href="https://www.narom.no/aktuelt.php?aid=7&bid=11&oid=1108">Learn more &raquo;</a></p>
        <img src="~/Pictures/Rakettoppskying.jpg" class="img-polaroid" width="350" height="225">
    </div>
    <div class="col-md-4">
        <h2>I dag lander Rosetta</h2>
        <p><font face="cursive" color="blue">12.11.2014</font></p>
        <p>
        Rosetta er den første romferden som skal forsøke å lande på en komet. I dag vil Rosetta slippe løs landingsroboten Philae. Rundt kl. 17.00 vet vi om den har klart det, 
        og du kan følge den europeiske romorganisasjonen ESA sin direktesending fra landingen.
        </p>
        <p><a class="btn btn-default" href="https://www.narom.no/aktuelt.php?aid=7&bid=10&oid=1161">Learn more &raquo;</a></p>
        <img src="~/Pictures/rosetta.jpg" class="img-polaroid">
    </div>
    <div class="col-md-4">
        <h2>NAROM inviterer videregående skoler til spennende romprosjekt</h2>
        <p><font face="cursive" color="blue">08.06.2010</font></p>
        <p>
        NAROM (Nasjonalt Senter for Romrelatert Opplæring) inviterer norske videregående skoler med klasser i faget Teknologi og forskningslære til å delta i et spennende 
        undervisningsprogram der bygging og oppskytning av brusbokssatellitter (CanSat) fra Andøya inngår.
        </p>
        <p><font size="1">En CanSat er en liten satellittmodell som skal kunne slippes fra en rakett eller en ballong og sveve tilbake til bakken i fallskjerm.</font></p>
        <p><a class="btn btn-default" href="http://ezhestnesk.ezpub01.byte.no/FoU-Offentlig/NAROM-inviterer-videregaaende-skoler-til-spennende-romprosjekt">Learn more &raquo;</a></p>
        <img src="~/Pictures/cansat.jpg" class="img-polaroid" width="350" height="200">
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}