@{
    ViewBag.Title = "Home Page";
}
<img src="~/Pictures/asc.png" class="img-polaroid">

<div class="jumbotron">
    <h1>Andøys Space Center</h1>
    <p class="lead">ASC ligger på øya Andøya, 2 grader nord for polarsirkelen, i Nord-Norge. Andøya har sin egen flyplass som kan håndtere alle størrelser av fly. Flere daglige forbindelser til Tromsø og Bodø gjør det praktisk å komme til / fra Oslo.</p>
    <p><a href="http://andoyaspace.no/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>ASC part of Memorandum of Understanding between Japan Aerospace Exploration Agency and Norwegian Space Centre on Sounding Rocket Research Cooperation</h2>
        <p><font face="cursive" color="blue">16.01.2015</font></p>
        <p>
            anuary 16th ASC participated during the official signing of a new Memorandum of Understanding between 
            Japan Aerospace Exploration Agency and Norwegian Space Centre on Sounding Rocket Research Cooperation. 
            The signing took place at the JAXA Hq in Jindaiji Higashi-machi, Chofu-shi, Tokyo.
        </p>
        <p><a class="btn btn-default" href="http://andoyaspace.no/?p=1996">Learn more &raquo;</a></p>
        <img src="~/Pictures/IMG_1566-300x200.jpg" class="img-polaroid" width="350" height="225">
    </div>
    <div class="col-md-4">
        <h2>WADIS-2 rocket launched</h2>
        <p><font face="cursive" color="blue">05.03.2015</font></p>
        <p>
            On March 5, 2015 at 2:44 Central European Time, the sounding rocket WADIS-2 launched from Andøya Space 
            Center with nine experiments on board into the night sky above Norway. In addition, 13 small, simple 
            “weather rockets” named Loki-Dart, measures the pressure and temperature in the days before and after 
            WADIS, thereby determining a larger weather environment.
        </p>
        <p><a class="btn btn-default" href="http://andoyaspace.no/?p=2032">Learn more &raquo;</a></p>
        <img src="~/Pictures/1426597262.jpg" class="img-polaroid" width="339" height="225">
    </div>
    <div class="col-md-4">
        <h2>Google maps</h2>
        <p>Viss du lurer på hvor det er hen, så kan du se her på google maps</p>
        <p><a class="fancybox fancybox.iframe" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1410.6203703868794!2d16.029997!3d69.29508799999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x45dcc1f732283891%3A0xb65a55324bdd3b87!2sAnd%C3%B8ya+Space+Center!5e0!3m2!1sno!2sno!4v1432409199697"><img src="~/Pictures/google-map.jpg" class="img-polaroid" height="200" width="303"></a></p>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".fancybox").fancybox({
            width   : '70%',
            height  : '70%'
        });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}